body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-image: url('anji.jpg');
}


.container {
    width: 100%;
    margin: 1em auto;
    background-color: darkslategray;
}

.grid {
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.2em;
    justify-content: center;
}

#searchSpace {
    justify-content: center;
    display: flex;
}

#sorry h1{
    justify-content: center;
    display: flex;
    width: 50%;
    margin: auto;
}